<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
  <link rel="stylesheet" href="style/style.css">
  <title>City Of God- Page</title>
</head>

<body class="bg-black ">
  <header class="bg-zinc-900 py-6">
    <nav class="flex justify-between max-w-screen-xl mx-auto items-center">

      <!-- nav logo -->
      <div class="flex gap-5 items-center">
        <div class="text-yellow-500">
          <div>
            <p class="text-lg">ALL ABOUT</p>
          </div>
          <div>
            <p class="text-lg font-bold">Movies</p>
          </div>
        </div>
        <div class="text-md text-yellow-500">
          <p>Explore</p>
        </div>
      </div>

      <!-- nav-search -->
      <div>
        <div>
          <input type="text"
            class="input lg:w-96 rounded-md placeholder:bg-black placeholder:text-zinc-600 placeholder:text-xl lg:p-2 p-1 bg-black border-none"
            placeholder="Search">
        </div>
      </div>
    </nav>
  </header>


  <main class="max-w-screen-x2 mx-auto">
    <section class="grid xl:grid-cols-3">
      <div class="col-span-2">
        <div class="relative">
          <div class="banner-slider bg-cover">
            <div class="absolute inset-0 bg-gradient-to-t from-black to-transparent"></div>
          </div>
          <!-- positioned absolute -->
          <div class="relative ml-10 -bottom-14">
            <div class="flex lg:gap-16 sm:gap-8 gap-4 md:flex-row flex-col">
              <img class="w-40" src="../assets/darkKnight.jpeg" alt="">
              <div>
                <h2 class="lg:text-5xl md:text-4x sm:text-3xl text-2x text-white">
                  The Dark Knight
                </h2>
                <p class="lg:mt-4 text-stone-400 text-wrap lg:block min-w-72">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor dolorum ducimus suscipit ut, nam perferendis blanditiis nobis enim ex! Voluptate dolorem sunt cumque nostrum velit!</p>
                <p class="mt-4 text-stone-400">Genres: War, Action, Drama</p>
                <p class="mt-4 text-stone-400">
                  <img src="../assets/star.png" class="w-[16px] inline" alt="rating">
                  Rating : 7.2
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <aside class="xl:mt-0 mt-24 ml-6">
        <p class="text-yellow-500 font-bold text-xl py-4">Up Next</p>
        <div class="bg-gradient-to-b from-zinc-900 via-zinc-900 to-black p-4">
          <div class="flex gap-4 mb-4">
            <img class="w-24 h-[100%]" src="../assets/farFromMen.jpg" alt="movie_1">
            <div>
              <p class="text-stone-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quis voluptate
                doloribus </p>
              <p class="text-stone-400">Genres: War, Action, Drama</p>
              <p class="text-stone-400">Rating: 7.2</p>
            </div>
          </div>
          <div class="flex gap-4 mb-4">
            <img class="w-24 h-[100%]" src="../assets/fightclub.jpg" alt="movie_2">
            <div>
              <p class="text-stone-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quis voluptate
                doloribus </p>
              <p class="text-stone-400">Genres: War, Action, Drama</p>
              <p class="text-stone-400">Rating: 9.0</p>
            </div>
          </div>
        </div>
        <p class="font-bold text-xl text-white hover:text-yellow-500">
          Browse Movies >
        </p>
      </aside>
    </section>

    <!-- top rated movies -->
    <section>
      <h2 class="text-2xl text-yellow-500 font-bold ml-6">
        Top Rated Movies
      </h2>
      <!-- movie container -->
      <div class="grid xl:grid-cols-6 lg:grid-cols-5 md:grid-cols-3 grid-cols-2 gap-10 px-4 md:px-8">
        <a href="../components/fight-club.html" class="hover:scale-105 transition-transform">
          <div class="flex flex-col my-3 _border rounded-lg overflow-hidden duration-200">
            <div class="relative cursor-pointer">
              <img class="" src="../assets/fightclub.jpg" class="object-cover w-48" alt="" />
              <div class="absolute z-10 bottom-2 left-2 flex gap-2 items-center"></div>
              <div class="absolute -bottom-10 w-full h-28 _trailerLeftgradient"></div>
            </div>
            <div class="z-10 flex flex-col items-stretch gap-1 h-fit justify-between bg-[#222] p-2">
              <div class="cursor-pointer">
                <h2
                  class="text-white text-left md:text-[17px] text-sm font-semibold line-clamp-1 w-fit hover:underline">
                  Fight Club
                </h2>
                <div class="mt-2 md:text-[15px] text-[13px] text-zinc-300 line-clamp-1">
                  <h3 class="flex gap-1 items-center">
                    <img src="../assets/star.png" class="w-[16px] inline" alt="rating" />
                    Rating: 8.7
                  </h3>
                </div>
                <h3 class="text-zinc-300 md:text-[14px] text-[13px]">
                  Language : EN
                </h3>

                <h3 class="text-zinc-300 md:text-[14px] text-[13px]">
                  Release : 1991
                </h3>
              </div>
            </div>
          </div>
        </a>
        <a href="../components/city-of-god.html" class="hover:scale-105 transition-transform">
          <div class="flex flex-col my-3 _border rounded-lg overflow-hidden duration-200">
            <div class="relative cursor-pointer">
              <img class="" src="../assets/cityOfGod.jpeg" class="object-cover w-48" alt="" />
              <div class="absolute z-10 bottom-2 left-2 flex gap-2 items-center"></div>
              <div class="absolute -bottom-10 w-full h-28 _trailerLeftgradient"></div>
            </div>
            <div class="z-10 flex flex-col items-stretch gap-1 h-fit justify-between bg-[#222] p-2">
              <div class="cursor-pointer">
                <h2
                  class="text-white text-left md:text-[17px] text-sm font-semibold line-clamp-1 w-fit hover:underline">
                  City of god
                </h2>
                <div class="mt-2 md:text-[15px] text-[13px] text-zinc-300 line-clamp-1">
                  <h3 class="flex gap-1 items-center">
                    <img src="../assets/star.png" class="w-[16px] inline" alt="rating" />
                    Rating: 9.2
                  </h3>
                </div>
                <h3 class="text-zinc-300 md:text-[14px] text-[13px]">
                  Language : EN
                </h3>

                <h3 class="text-zinc-300 md:text-[14px] text-[13px]">
                  Release : 2004
                </h3>
              </div>
            </div>
          </div>
        </a>
        <a href="../components/flynn.html" class="hover:scale-105 transition-transform">
          <div class="flex flex-col my-3 _border rounded-lg overflow-hidden duration-200">
            <div class="relative cursor-pointer">
              <img class="" src="../assets/flynn.jpg" class="object-cover w-48" alt="" />
              <div class="absolute z-10 bottom-2 left-2 flex gap-2 items-center"></div>
              <div class="absolute -bottom-10 w-full h-28 _trailerLeftgradient"></div>
            </div>
            <div class="z-10 flex flex-col items-stretch gap-1 h-fit justify-between bg-[#222] p-2">
              <div class="cursor-pointer">
                <h2
                  class="text-white text-left md:text-[17px] text-sm font-semibold line-clamp-1 w-fit hover:underline">
                  Flynn
                </h2>
                <div class="mt-2 md:text-[15px] text-[13px] text-zinc-300 line-clamp-1">
                  <h3 class="flex gap-1 items-center">
                    <img src="../assets/star.png" class="w-[16px] inline" alt="rating" />
                    Rating: 6.7
                  </h3>
                </div>
                <h3 class="text-zinc-300 md:text-[14px] text-[13px]">
                  Language : EN
                </h3>

                <h3 class="text-zinc-300 md:text-[14px] text-[13px]">
                  Release : 2002
                </h3>
              </div>
            </div>
          </div>
        </a>
        <a href="../components/civilwar.html" class="hover:scale-105 transition-transform">
          <div class="flex flex-col my-3 _border rounded-lg overflow-hidden duration-200">
            <div class="relative cursor-pointer">
              <img class="" src="../assets/civil_war.jpg" class="object-cover w-48" alt="" />
              <div class="absolute z-10 bottom-2 left-2 flex gap-2 items-center"></div>
              <div class="absolute -bottom-10 w-full h-28 _trailerLeftgradient"></div>
            </div>
            <div class="z-10 flex flex-col items-stretch gap-1 h-fit justify-between bg-[#222] p-2">
              <div class="cursor-pointer">
                <h2
                  class="text-white text-left md:text-[17px] text-sm font-semibold line-clamp-1 w-fit hover:underline">
                  Civil war
                </h2>
                <div class="mt-2 md:text-[15px] text-[13px] text-zinc-300 line-clamp-1">
                  <h3 class="flex gap-1 items-center">
                    <img src="../assets/star.png" class="w-[16px] inline" alt="rating" />
                    Rating: 6.2
                  </h3>
                </div>
                <h3 class="text-zinc-300 md:text-[14px] text-[13px]">
                  Language : EN
                </h3>

                <h3 class="text-zinc-300 md:text-[14px] text-[13px]">
                  Release : 2024
                </h3>
              </div>
            </div>
          </div>
        </a>
        <a href="../components/the-dark-knight.html" class="hover:scale-105 transition-transform">
          <div class="flex flex-col my-3 _border rounded-lg overflow-hidden duration-200">
            <div class="relative cursor-pointer">
              <img class="" src="../assets/darkKnight.jpeg" class="object-cover w-48" alt="" />
              <div class="absolute z-10 bottom-2 left-2 flex gap-2 items-center"></div>
              <div class="absolute -bottom-10 w-full h-28 _trailerLeftgradient"></div>
            </div>
            <div class="z-10 flex flex-col items-stretch gap-1 h-fit justify-between bg-[#222] p-2">
              <div class="cursor-pointer">
                <h2
                  class="text-white text-left md:text-[17px] text-sm font-semibold line-clamp-1 w-fit hover:underline">
                  The Dark Knight
                </h2>
                <div class="mt-2 md:text-[15px] text-[13px] text-zinc-300 line-clamp-1">
                  <h3 class="flex gap-1 items-center">
                    <img src="../assets/star.png" class="w-[16px] inline" alt="rating" />
                    Rating: 9.0
                  </h3>
                </div>
                <h3 class="text-zinc-300 md:text-[14px] text-[13px]">
                  Language : EN
                </h3>

                <h3 class="text-zinc-300 md:text-[14px] text-[13px]">
                  Release : 2008
                </h3>
              </div>
            </div>
          </div>
        </a>
        <a href="../components/far-from-men.html" class="hover:scale-105 transition-transform">
          <div class="flex flex-col my-3 _border rounded-lg overflow-hidden duration-200">
            <div class="relative cursor-pointer">
              <img class="" src="../assets/farFromMen.jpg" class="object-cover w-48" alt="" />
              <div class="absolute z-10 bottom-2 left-2 flex gap-2 items-center"></div>
              <div class="absolute -bottom-10 w-full h-28 _trailerLeftgradient"></div>
            </div>
            <div class="z-10 flex flex-col items-stretch gap-1 h-fit justify-between bg-[#222] p-2">
              <div class="cursor-pointer">
                <h2
                  class="text-white text-left md:text-[17px] text-sm font-semibold line-clamp-1 w-fit hover:underline">
                  Far From Men
                </h2>
                <div class="mt-2 md:text-[15px] text-[13px] text-zinc-300 line-clamp-1">
                  <h3 class="flex gap-1 items-center">
                    <img src="../assets/star.png" class="w-[16px] inline" alt="rating" />
                    Rating: 7.6
                  </h3>
                </div>
                <h3 class="text-zinc-300 md:text-[14px] text-[13px]">
                  Language : EN
                </h3>

                <h3 class="text-zinc-300 md:text-[14px] text-[13px]">
                  Release : 2008
                </h3>
              </div>
            </div>
          </div>
        </a>
        <a href="../components/the-godfather.html" class="hover:scale-105 transition-transform">
          <div class="flex flex-col my-3 _border rounded-lg overflow-hidden duration-200">
            <div class="relative cursor-pointer">
              <img class="" src="../assets/godfather.jpg" class="object-cover w-48" alt="" />
              <div class="absolute z-10 bottom-2 left-2 flex gap-2 items-center"></div>
              <div class="absolute -bottom-10 w-full h-28 _trailerLeftgradient"></div>
            </div>
            <div class="z-10 flex flex-col items-stretch gap-1 h-fit justify-between bg-[#222] p-2">
              <div class="cursor-pointer">
                <h2
                  class="text-white text-left md:text-[17px] text-sm font-semibold line-clamp-1 w-fit hover:underline">
                  The Godfather
                </h2>
                <div class="mt-2 md:text-[15px] text-[13px] text-zinc-300 line-clamp-1">
                  <h3 class="flex gap-1 items-center">
                    <img src="../assets/star.png" class="w-[16px] inline" alt="rating" />
                    Rating: 9.6
                  </h3>
                </div>
                <h3 class="text-zinc-300 md:text-[14px] text-[13px]">
                  Language : EN
                </h3>

                <h3 class="text-zinc-300 md:text-[14px] text-[13px]">
                  Release : 1996
                </h3>
              </div>
            </div>
          </div>
        </a>
        <a href="../components/good-fellas.html" class="hover:scale-105 transition-transform">
          <div class="flex flex-col my-3 _border rounded-lg overflow-hidden duration-200">
            <div class="relative cursor-pointer">
              <img class="" src="../assets/GoodFellas.jpeg" class="object-cover w-48" alt="" />
              <div class="absolute z-10 bottom-2 left-2 flex gap-2 items-center"></div>
              <div class="absolute -bottom-10 w-full h-28 _trailerLeftgradient"></div>
            </div>
            <div class="z-10 flex flex-col items-stretch gap-1 h-fit justify-between bg-[#222] p-2">
              <div class="cursor-pointer">
                <h2
                  class="text-white text-left md:text-[17px] text-sm font-semibold line-clamp-1 w-fit hover:underline">
                  GoodFellas
                </h2>
                <div class="mt-2 md:text-[15px] text-[13px] text-zinc-300 line-clamp-1">
                  <h3 class="flex gap-1 items-center">
                    <img src="../assets/star.png" class="w-[16px] inline" alt="rating" />
                    Rating: 7.8
                  </h3>
                </div>
                <h3 class="text-zinc-300 md:text-[14px] text-[13px]">
                  Language : EN
                </h3>

                <h3 class="text-zinc-300 md:text-[14px] text-[13px]">
                  Release : 1998
                </h3>
              </div>
            </div>
          </div>
        </a>
        <a href="../components/jules-verne.html" class="hover:scale-105 transition-transform">
          <div class="flex flex-col my-3 _border rounded-lg overflow-hidden duration-200">
            <div class="relative cursor-pointer">
              <img class="" src="../assets/jules_verne.jpg" class="object-cover w-48" alt="" />
              <div class="absolute z-10 bottom-2 left-2 flex gap-2 items-center"></div>
              <div class="absolute -bottom-10 w-full h-28 _trailerLeftgradient"></div>
            </div>
            <div class="z-10 flex flex-col items-stretch gap-1 h-fit justify-between bg-[#222] p-2">
              <div class="cursor-pointer">
                <h2
                  class="text-white text-left md:text-[17px] text-sm font-semibold line-clamp-1 w-fit hover:underline">
                  Jules Verne
                </h2>
                <div class="mt-2 md:text-[15px] text-[13px] text-zinc-300 line-clamp-1">
                  <h3 class="flex gap-1 items-center">
                    <img src="../assets/star.png" class="w-[16px] inline" alt="rating" />
                    Rating: 6.8
                  </h3>
                </div>
                <h3 class="text-zinc-300 md:text-[14px] text-[13px]">
                  Language : EN
                </h3>

                <h3 class="text-zinc-300 md:text-[14px] text-[13px]">
                  Release : 1985
                </h3>
              </div>
            </div>
          </div>
        </a>
        <a href="../components/life-is-beautiful.html" class="hover:scale-105 transition-transform">
          <div class="flex flex-col my-3 _border rounded-lg overflow-hidden duration-200">
            <div class="relative cursor-pointer">
              <img class="" src="../assets/LifeIsBeautiful.jpeg" class="object-cover w-48" alt="" />
              <div class="absolute z-10 bottom-2 left-2 flex gap-2 items-center"></div>
              <div class="absolute -bottom-10 w-full h-28 _trailerLeftgradient"></div>
            </div>
            <div class="z-10 flex flex-col items-stretch gap-1 h-fit justify-between bg-[#222] p-2">
              <div class="cursor-pointer">
                <h2
                  class="text-white text-left md:text-[17px] text-sm font-semibold line-clamp-1 w-fit hover:underline">
                  Life is Beautiful
                </h2>
                <div class="mt-2 md:text-[15px] text-[13px] text-zinc-300 line-clamp-1">
                  <h3 class="flex gap-1 items-center">
                    <img src="../assets/star.png" class="w-[16px] inline" alt="rating" />
                    Rating: 9.5
                  </h3>
                </div>
                <h3 class="text-zinc-300 md:text-[14px] text-[13px]">
                  Language : EN
                </h3>

                <h3 class="text-zinc-300 md:text-[14px] text-[13px]">
                  Release : 1996
                </h3>
              </div>
            </div>
          </div>
        </a>
        <a href="../components/ring-of-the-power.html" class="hover:scale-105 transition-transform">
          <div class="flex flex-col my-3 _border rounded-lg overflow-hidden duration-200">
            <div class="relative cursor-pointer">
              <img class="" src="../assets/ringOfPower.jpg" class="object-cover w-48" alt="" />
              <div class="absolute z-10 bottom-2 left-2 flex gap-2 items-center"></div>
              <div class="absolute -bottom-10 w-full h-28 _trailerLeftgradient"></div>
            </div>
            <div class="z-10 flex flex-col items-stretch gap-1 h-fit justify-between bg-[#222] p-2">
              <div class="cursor-pointer">
                <h2
                  class="text-white text-left md:text-[17px] text-sm font-semibold line-clamp-1 w-fit hover:underline">
                  Ring of the Power
                </h2>
                <div class="mt-2 md:text-[15px] text-[13px] text-zinc-300 line-clamp-1">
                  <h3 class="flex gap-1 items-center">
                    <img src="../assets/star.png" class="w-[16px] inline" alt="rating" />
                    Rating: 8.5
                  </h3>
                </div>
                <h3 class="text-zinc-300 md:text-[14px] text-[13px]">
                  Language : EN
                </h3>

                <h3 class="text-zinc-300 md:text-[14px] text-[13px]">
                  Release : 2022
                </h3>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="flex justify-center mt-8">
        <div class="mx-auto">
          <button
            class="border border-white rounded-none py-2 px-6 text-white font-bold xl:text-xl hover:bg-white hover:text-black">
            Load more...
          </button>
        </div>
      </div>
    </section>
    </section>



    <footer class="bg-black">
      <div class="mx-auto max-w-screen-xl">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
            <a href="#" class="flex items-center">
              <div class="text-yellow-500">
                <div>
                  <p class="text-lg">ALLABOUT</p>
                </div>
                <div>
                  <p class="text-lg font-bold">Movies</p>
                </div>
              </div>
            </a>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
            <div>
              <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Resources</h2>
              <ul class="text-gray-500 dark:text-gray-400 font-medium">
                <li class="mb-4">
                  <a href="#" class="hover:underline">Flowbite</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Tailwind CSS</a>
                </li>
              </ul>
            </div>
            <div>
              <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Follow us</h2>
              <ul class="text-gray-500 dark:text-gray-400 font-medium">
                <li class="mb-4">
                  <a href="#" class="hover:underline ">Github</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Discord</a>
                </li>
              </ul>
            </div>
            <div>
              <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2>
              <ul class="text-gray-500 dark:text-gray-400 font-medium">
                <li class="mb-4">
                  <a href="#" class="hover:underline">Privacy Policy</a>
                </li>
                <li>
                  <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between my-3">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="#"
              class="hover:underline">All About Movies™</a>. All Rights Reserved.
          </span>
          <div class="flex mt-4 sm:justify-center sm:mt-0">
            <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
              <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                viewBox="0 0 8 19">
                <path fill-rule="evenodd"
                  d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
                  clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Facebook page</span>
            </a>
            <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
              <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                viewBox="0 0 21 16">
                <path
                  d="M16.942 1.556a16.3 16.3 0 0 0-4.126-1.3 12.04 12.04 0 0 0-.529 1.1 15.175 15.175 0 0 0-4.573 0 11.585 11.585 0 0 0-.535-1.1 16.274 16.274 0 0 0-4.129 1.3A17.392 17.392 0 0 0 .182 13.218a15.785 15.785 0 0 0 4.963 2.521c.41-.564.773-1.16 1.084-1.785a10.63 10.63 0 0 1-1.706-.83c.143-.106.283-.217.418-.33a11.664 11.664 0 0 0 10.118 0c.137.113.277.224.418.33-.544.328-1.116.606-1.71.832a12.52 12.52 0 0 0 1.084 1.785 16.46 16.46 0 0 0 5.064-2.595 17.286 17.286 0 0 0-2.973-11.59ZM6.678 10.813a1.941 1.941 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.919 1.919 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Zm6.644 0a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.918 1.918 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Z" />
              </svg>
              <span class="sr-only">Discord community</span>
            </a>
            <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
              <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                viewBox="0 0 20 17">
                <path fill-rule="evenodd"
                  d="M20 1.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.344 8.344 0 0 1-2.605.98A4.13 4.13 0 0 0 13.85 0a4.068 4.068 0 0 0-4.1 4.038 4 4 0 0 0 .105.919A11.705 11.705 0 0 1 1.4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 4.1 9.635a4.19 4.19 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 0 14.184 11.732 11.732 0 0 0 6.291 16 11.502 11.502 0 0 0 17.964 4.5c0-.177 0-.35-.012-.523A8.143 8.143 0 0 0 20 1.892Z"
                  clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Twitter page</span>
            </a>
            <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white ms-5">
              <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                  d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z"
                  clip-rule="evenodd" />
              </svg>
              <span class="sr-only">GitHub account</span>
            </a>
          </div>
        </div>
      </div>
    </footer>

  </main>
</body>

</html>